.app {
  font-family: eurostile, sans-serif;
  color: #FFFFFF;
}

.label {
  color: #FFFFFF;
}

.app h1, h2, h3, h4, h5, h6 {
  color: #f07b05 !important;
  text-transform: uppercase;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

a:hover {
  color: #f07b05;
}