.externalLinks ul {
  list-style-type: none;
}

.externalLinks ul li {
  padding: 0 0.5em 0 0.5em;
  /* display: inline; */
}

.externalLinks ul li a {
  text-transform: uppercase;
  font-weight: 700;
  text-decoration: none;
  color: #FFFFFF;
}

.externalLinks ul a:hover {
  color: #f07b05;
}